.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  list-style: none;
}




@media screen and (max-width: 525px) {
  .item {
    max-width: 155px;
  }
}