.header {
  width: 100%;
  min-height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.username {
  font-size: 18px;
}

.header__btn {
  display: block;
  margin-bottom: 10px;
}

.header__userName {
  color: #710794;
  font-size: 16px;
  font-weight: 700;
}