.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



.container {
  margin: 0 auto;
  padding: 40px 16px;
  flex: 1;
  max-width: 1200px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 24px;
  }
}